<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MOA_services</display-name>
  <servlet>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.services.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.services.CategoryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Assign</display-name>
    <servlet-name>Assign</servlet-name>
    <servlet-class>com.services.AssignService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assign</servlet-name>
    <url-pattern>/assign/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.services.CommentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/comment/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Task</display-name>
    <servlet-name>Task</servlet-name>
    <servlet-class>com.services.TaskService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task</servlet-name>
    <url-pattern>/task/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Attachment</display-name>
    <servlet-name>Attachment</servlet-name>
    <servlet-class>com.services.AttachmentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attachment</servlet-name>
    <url-pattern>/attachment/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Token</display-name>
    <servlet-name>Token</servlet-name>
    <servlet-class>com.services.TokenService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Token</servlet-name>
    <url-pattern>/token/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Tag</display-name>
    <servlet-name>Tag</servlet-name>
    <servlet-class>com.services.TagService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tag</servlet-name>
    <url-pattern>/tag/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authorize</display-name>
    <servlet-name>Authorize</servlet-name>
    <servlet-class>com.authorization.AuthorizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorize</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>BasicFilter</display-name>
    <filter-name>BasicFilter</filter-name>
    <filter-class>com.template.BasicFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BasicFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/cxf-beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description>Apache CXF Endpoint</description>
    <display-name>cxf</display-name>
    <servlet-name>cxf</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cxf</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>43200</session-timeout>
  </session-config> 
</web-app>